body {
  background-color: white;
}

.container {
  background-color: rgb(250, 250, 250);
  min-height: 100vh;
  padding: 2%;
}

.info-message {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  h2, h3 {
    margin: 0;
  }
}

.message-button {
  width: 100px;
  margin-right: 4px;
  padding: 4px;
}

.logout-button {
  padding: 4px;
}

