<h1 mat-dialog-title>New mail</h1>

<form [formGroup]="formGroup">
  <div mat-dialog-content>
    <div>
      <mat-form-field class="dialog-input">
        <mat-label>Recipient</mat-label>
        <input matInput formControlName="recipient" [ngbTypeahead]="search" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="dialog-input">
        <mat-label>Theme</mat-label>
        <input matInput formControlName="theme" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="dialog-input">
        <mat-label>Content</mat-label>
        <textarea matInput formControlName="content"></textarea>
      </mat-form-field>
    </div>
  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="cancelClick()">Cancel</button>
    <button mat-button (click)="sendClick()" cdkFocusInitial>
      Send
    </button>
  </div>
</form>
